.text{
  height: 100px; background-color: #0000ff;
  color: #FFFFFF;
}
.postsID{
  width: 100%; height: 100px;
  background-color: red; box-sizing: border-box;
  img{
    width: 150px; height: 150px; box-sizing: border-box;
  }
}